
/* BODY CONTAINER CSS */
.body {
    display: flex;
    flex-direction: column;
}

.sidebarandconatainer {
    display: flex; 
    flex: 1; 
   
}

/* MAIN CONTAINER CSS */
.maincontainer > div {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    padding: 5px
}

/* FILTERBAR CSS */
.container {
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding : 5px;
}


.left-items {
    display: flex; 
}
.left-items > div:first-child{
    padding: 3px;
    margin-left: 40px;
    font-weight: bold;
}
.left-items > div:last-child{
        margin-left: 15px;
        padding: 3px;
}

.right-item {
    margin-left: auto; 
}
.right-item:hover {
    color: blue;
}
.left-items:hover{
    color:blue;
}

/* SIDEBAR CSS */
.Sidebar {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    width: fill;
    
}

.Sidebar > div > div {
    margin-bottom: 5px;
    align-items: center;
    width: 100%;
   display: flex;
   justify-content: space-between;
   padding-left:3px;
   padding-right: 3px;
    /* background-color: pink; */
}
.Sidebar > div >div > svg {
    width: 16px; 
    height: 16px; 
}

/* SIDEBAR OPTIONS */
.sidebaroption{
    display: flex;
    flex-direction: column;
    padding: 2px;
}
/* RECOMMENDED LIST */
.recommendedList{
    position: fixed;
   z-index: 1000;
    top: 325px;
    right: 50px;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.recommendedList > ul > *{
    list-style-type: none;
   padding: 4px;
}


@media only screen and (max-width: 600px) {
    .recommendedList{
       background-color: white;
        top: 200px;
        right: 10px;
        border-radius: 12px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }

    .left-items > div:first-child {
        display:none;
    }
    .container{
        border-bottom: 1px solid gray;
    }
}