.NavbarOne {
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.NavbarOne > h1 {
    /* Styles for the h1 element (center-aligned) */
    text-align: center;
}

.NavbarOne > div:last-child {
    /* Styles for the last div (right-aligned) */
    /* background-color: pink; */
    padding: 3px 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.NavbarOne > div:last-child > * {
    /* Apply padding to all elements inside the last div */
    padding: 4px;
}


/* CSS OF  NAVBARTWO*/ 

.NavbarTwo > div:first-child{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom : 1px solid gray;
}

.NavbarTwo > div:first-child > * {
    padding : 10px 40px;
    font-weight: 600;
    font-size: larger;
}

.NavbarTwo > div:last-child{
    border-bottom: 1px solid gray;
}

