.footer{
    color:white;
    background: black;
    padding: 30px;
}

.footer-f{
    display:flex;
    justify-content: space-evenly;
    border-bottom: 2px solid white;
}
.footer-f input[type='text'] {
    padding: 4px ;
    margin-bottom: 5px;
}

.footer-f button {
    margin-left : 5px;
    padding: 5px 18px;
    color: gray;
    border: 1px solid gray;
    background-color: black;
    border-radius: 2px;
   
}
.footer-f button:hover {
  
  color: black;
  border: 1px solid gray;
  background-color: rgb(233, 233, 37);
  border-radius: 3px;
 
}

.footer-s{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly;
}

